<div class="wrapper">

	<section class="white">
		<div class="content">

			<p class="about-copy">FULL STACK was founded on a simple belief: that every company able to remain competitive globally will require high quality software to retain and grow their competitive advantage. At FULLSTACK we pride ourselves on partnering with businesses who look to win in their sectors and strive to lead into areas which others will follow. Co-founded in 2014 by Werner Visser and  Andrew La Grange, FULLSTACK aims to enable our partners, clients and users with the absolute best of breed products and services available today. We deliver on this promise through the methodology and trust developed over the last 12 years working together, and in our combined 30 years of software development experience. </p>

			<div class="about-images-container">
				<div class="about-images">
					<div>
						<img src="img/about-werner.jpg" alt="Werner" title="ceo" />
						<div class="title"><h3>CEO</h3></div>
					</div>
				</div>
				<div class="about-images">
					<div>
						<img src="img/about-werner.jpg" alt="Werner" title="ceo" />
						<div class="title"><h3>CEO</h3></div>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>