<div class="wrapper">
	<section class="white">
		<div class="content">
			<h2 class="about-title">About Full Stack</h2>
			<p class="about-copy">On the 7th of May 2014, six friends come together to discuss the possibility for a unique software company that doesn't pine to build product while producing solutions, that doesn't sell services while promising panaceas. 
				<br /><br />
				Rather, we wanted to build a software company which addresses our shared core belief <strong>that all companies are going to be software companies in one shape or form by the end of the century.</strong>
				<br /><br />
				For us, there is an existential question every business is going to face in the coming decades: Are we going survive and lead with our own software? Or are we going to fail using the same as others or even none?
				<br /><br />
				We look to partner with owners, entrepreneurs and corporate businesses in answering that question; through their business domain knowledge, and our decades of software and business experience.
				<br /><br />
				Why Full Stack? We've called ourselves Full Stack (as have many others - we like company) because to deliver on our core belief, we knew we would need collaborators and colleagues who had mastered the full stack of software components from the network layer all the way up to the customer and the business need. 
				<br /><br />
				With a team of full stack developers, we are able to help our clients run and grow great companies, using software built in partnership with us. 
			</p>

			<!--<div class="about-images-container">
				<div class="about-images">
					<div>
						<img src="img/about-andrew.jpg" alt="Andrew La Grange" title="co-founder and CEO" />
						<div class="title"><h3><span class="name">Andrew La Grange</span><span>CEO</span></h3></div>
					</div>
				</div>
				<div class="about-images">
					<div>
						<img src="img/about-werner.jpg" alt="Werner Visser" title="co-founder and HOD" />
						<div class="title"><h3><span class="name">Werner Visser</span><span>CEO</span></h3></div>
					</div>
				</div>
			</div>-->

		</div>
	</section>
</div>