<div class="wrapper">

	<section class="white color-change">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<a class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</a>
		</div>
		<div class="apply-form">
			<div class="content">
				<form class="contact-form">
					<div class="form-input first">
						<input type="text" id="name" name="Name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'"/>
					</div>
					<div class="form-input second">
						<input type="text" id="email" name="Email" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"/>
					</div>
					<div class="form-input third">
						<input type="text" id="subject" name="Subject" placeholder="Your Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Subject'"/>
					</div>
					<div class="form-textarea">
						<textarea id="message" name="Message" onfocus="if (this.value === 'Your message') this.value = ''" onblur="if (this.value === '') this.value = 'Your message'">Your message</textarea>
					</div>
					<div class="form-submit">
						<button type="button" id="submit-contact">
							<span class="text">Submit Now</span>
							<span class="response">Success!</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<section class="light-grey color-change">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<div class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</div>
		</div>
		<div class="apply-form">
			<div class="content">
				<form class="contact-form">
					<div class="form-input first">
						<input type="text" id="name" name="Name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'"/>
					</div>
					<div class="form-input second">
						<input type="text" id="email" name="Email" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"/>
					</div>
					<div class="form-input third">
						<input type="text" id="subject" name="Subject" placeholder="Your Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Subject'"/>
					</div>
					<div class="form-textarea">
						<textarea id="message" name="Message" onfocus="if (this.value === 'Your message') this.value = ''" onblur="if (this.value === '') this.value = 'Your message'">Your message</textarea>
					</div>
					<div class="form-submit">
						<button type="button" id="submit-contact">
							<span class="text">Submit Now</span>
							<span class="response">Success!</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<section class="white color-change">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<div class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</div>
		</div>
		<div class="apply-form">
			<div class="content">
				<form class="contact-form">
					<div class="form-input first">
						<input type="text" id="name" name="Name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'"/>
					</div>
					<div class="form-input second">
						<input type="text" id="email" name="Email" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"/>
					</div>
					<div class="form-input third">
						<input type="text" id="subject" name="Subject" placeholder="Your Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Subject'"/>
					</div>
					<div class="form-textarea">
						<textarea id="message" name="Message" onfocus="if (this.value === 'Your message') this.value = ''" onblur="if (this.value === '') this.value = 'Your message'">Your message</textarea>
					</div>
					<div class="form-submit">
						<button type="button" id="submit-contact">
							<span class="text">Submit Now</span>
							<span class="response">Success!</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>
