<div class="fs-form-wrap" id="fs-form-wrap">
	<div class="fs-close"><img src="img/close.png" /></div>
	<form id="myform" class="fs-form fs-form-full" autocomplete="off">
		<ol class="fs-fields">
			<li>
				<label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
				<input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Got a name there, buddy?" required/>
			</li>
			<li>
				<label class="fs-field-label fs-anim-upper" for="q2" >What's your email address?</label>
				<input class="fs-anim-lower" id="q2" name="q2" type="email" placeholder="info@developer.com" required/>
			</li>
			<li>
				<label class="fs-field-label fs-anim-upper" for="q4">What makes you special?</label>
				<textarea class="fs-anim-lower" id="q4" name="q4" placeholder="Describe your skills and why we should hire you!"></textarea>
			</li>
		</ol><!-- /fs-fields -->
		<button class="fs-submit" type="submit">Send</button>
	</form><!-- /fs-form -->
</div><!-- /fs-form-wrap -->


<div class="wrapper">
	<section class="white color-change">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<a class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</a>
		</div>
	</section>

	<section class="light-grey color-change">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<div class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</div>
		</div>
	</section>

	<section class="white color-change">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<div class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</div>
		</div>
	</section>
</div>
