<div class="wrapper">

	<section class="white">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<div class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</div>
		</div>
	</section>

	<section class="light-grey">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<div class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</div>
		</div>
	</section>

	<section class="white">
		<div class="content">
			<h2>FULLSTACK Developer</h2>
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in.</p>
			<div class="apply">
				<span class="text">Apply</span>
				<div class="img"><img src="img/briefcase-icon.png" /></div>
				<span class="orange"></span>
			</div>
		</div>
	</section>
</div>