<div class="wrapper">


	<section class="white case-study odd color-change">
		<div class="content">
			<div class="logo"><img src="img/case-study-livefyre-logo.jpg" alt="Livefyre Logo" title="Livefyre Logo" /></div>
			
			<div class="title"><h2>Developing framework</h2></div>

			<div class="copy"><p>Vizier is a deep NLP (natural language processing) product which unstructured data within an enterprise (Exchange, Sharepoint, etc.) </p></div>

			<div class="detail"><img src="img/case-study-icon-1.jpg" /><p><strong>Information System</strong><br /><span>Proin iaculis purus consequat sem cure  digni ssim. </span></p></div>
			<div class="detail"><img src="img/case-study-icon-2.jpg" /><p><strong>Implementation</strong><br /><span>Proin iaculis purus consequat sem cure  digni ssim. </span></p></div>
			<div class="detail"><img src="img/case-study-icon-3.jpg" /><p><strong>Testing</strong><br /><span>Proin iaculis purus consequat sem cure  digni ssim. </span></p></div>

			<div class="clause"><p>Proin iaculis purus consequat sem cure  digni ssim. Proin iaculis purus consequat sem cure  digni ssim. </p></div>

			<div class="view-more"><a>View Details</a></div>
		</div>
		<div class="case-study-image case-study-image-first"><img src="img/case-study-large-1.jpg" /></div>
	</section>




	<section class="light-grey case-study even color-change">
		<div class="content">
			<div class="logo"><img src="img/case-study-colormedia-logo.png" alt="Livefyre Logo" title="Livefyre Logo" /></div>
			
			<div class="title"><h2>Developing framework</h2></div>

			<div class="copy"><p>Vizier is a deep NLP (natural language processing) product which unstructured data within an enterprise (Exchange, Sharepoint, etc.) </p></div>

			<div class="detail"><p><strong>Information System</strong><br /><span>Proin iaculis purus consequat sem cure  digni ssim. </span></p><img src="img/case-study-icon-1.jpg" /></div>
			<div class="detail"><p><strong>Implementation</strong><br /><span>Proin iaculis purus consequat sem cure  digni ssim. </span></p><img src="img/case-study-icon-2.jpg" /></div>
			<div class="detail"><p><strong>Testing</strong><br /><span>Proin iaculis purus consequat sem cure  digni ssim. </span></p><img src="img/case-study-icon-3.jpg" /></div>

			<div class="clause"><p>Proin iaculis purus consequat sem cure  digni ssim. Proin iaculis purus consequat sem cure  digni ssim. </p></div>

			<div class="view-more"><a>View Details</a></div>
		</div>
		<div class="case-study-image case-study-image-second"><img src="img/case-study-large-2.png" /></div>
	</section>

</div>