<div class="wrapper">
	<section class="white">
		<div class="content">
			
			<div class="contact-details">
				<div class="contact-type">
					<img src="img/contact-address.png" alt="Address Icon" title="Address Icon" />
					<h3>Address</h3>
					<p>66 Albert Road<br />Woodstock Exchange<br />Cape Town</p>
				</div>

				<div class="contact-type">
					<img src="img/contact-address.png" alt="Address Icon" title="Address Icon" />
					<h3>Phone number</h3>
					<p>66 Albert Road<br />Woodstock Exchange<br />Cape Town</p>
				</div>

				<div class="contact-type">
					<img src="img/contact-address.png" alt="Address Icon" title="Address Icon" />
					<h3>Email</h3>
					<p>andrewlagrange@fullstack.co.za<br />wernervisser@fullstack.co.za</p>
				</div>

				<div class="contact-type">
					<img src="img/contact-address.png" alt="Address Icon" title="Address Icon" />
					<h3>Skype</h3>
					<p>Skype ID 1: andrew.la.grange<br />Skype ID 2: werner.visser</p>
				</div>
			</div>

			<form class="contact-form">
				<div class="form-input first">
					<input type="text" id="name" for="name" placeholder="Your Name"/>
				</div>
				<div class="form-input second">
					<input type="text" id="name" for="name" placeholder="Your Name"/>
				</div>
				<div class="form-input third">
					<input type="text" id="name" for="name" placeholder="Your Name"/>
				</div>
				<div class="form-textarea">
					<textarea>Your message</textarea>
				</div>
				<div class="form-submit">
					<input type="submit" value="Submit Now"/>
				</div>
			</form>
		</div>
	</section>

	<section class="map"></section>

</div>