<div class="wrapper">

	<section class="white">
		<div class="content">
			<div class="events clearfix">
				<div class="block odd">
					<div>
						<div class="event-date">
							<span class="day">27</span>
							<span class="month">October</span>
						</div>
						<h3>Hackathon</h3>
						<div class="orange"></div>
						<div class="hover-text">
							<h3>Developer Review</h3>
							<p>
								FULL STACK offers bespoke software solutions based on our SQuaRE software quality model. Whether web, mobile or desktop, our software solutions are led by our belief in the power of data to both describe and demonstrate software in-use. 
							</p>
							<a class="event-link" data-route="hackathon">More info</a>
						</div>
					</div>
				</div>
				<div class="block even">
					<div>
						<div class="event-date">
							<span class="day">01</span>
							<span class="month">October</span>
						</div>
						<h3>Developer Review</h3>
						<div class="orange"></div>
						<div class="hover-text">
							<h3>Developer Review</h3>
							<p>
								FULL STACK offers bespoke software solutions based on our SQuaRE software quality model. Whether web, mobile or desktop, our software solutions are led by our belief in the power of data to both describe and demonstrate software in-use. 
							</p>
							<a class="event-link" data-route="hackathon">More info</a>
						</div>
					</div>
				</div>
				<div class="block odd">
					<div>
						<div class="event-date">
							<span class="day">27</span>
							<span class="month">October</span>
						</div>
						<h3>Developer Review</h3>
						<div class="orange"></div>
						<div class="hover-text">
							<h3>Developer Review</h3>
							<p>
								FULL STACK offers bespoke software solutions based on our SQuaRE software quality model. Whether web, mobile or desktop, our software solutions are led by our belief in the power of data to both describe and demonstrate software in-use. 
							</p>
							<a class="event-link" data-route="hackathon">More info</a>
						</div>
					</div>
				</div>
				<div class="block even">
					<div>
						<div class="event-date">
							<span class="day">27</span>
							<span class="month">October</span>
						</div>
						<h3>Developer Review</h3>
						<div class="orange"></div>
						<div class="hover-text">
							<h3>Developer Review</h3>
							<p>
								FULL STACK offers bespoke software solutions based on our SQuaRE software quality model. Whether web, mobile or desktop, our software solutions are led by our belief in the power of data to both describe and demonstrate software in-use. 
							</p>
							<a class="event-link" data-route="hackathon">More info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>