<div class="wrapper">

	<section class="white color-change">
		<div class="content">
			<h2 class="fade-item">About Us</h2>
			<h3 class="fade-item">We provide software products and services<br/>and this is how we work:</h3>
			<div class="about-flow clearfix fade-item">
				<div class="flow-left">
					<img src="img/about-icon-left.jpg" alt="" />
					<div class="copy">
						<h3>Development</h3>
						<p>With the specs finalised, our development team begin iterating through the feature list, developing the software and conducting rigourous testing to ensure quality in-production.</p>
					</div>
				</div>
				<div class="flow-center">
					<img class="mobile-only" src="img/about-icon-left.jpg" alt="" />
					<div class="center-icon"></div>
					<div class="copy">
						<h3>Specification</h3>
						<p>At Full Stack, it all begins with a specification. We prepare a functional and technical specification detailing the exact backlog of features required to complete delivery.</p>
					</div>
				</div>
				<div class="flow-right">
					<img src="img/about-icon-right.jpg" alt="" />
					<div class="copy">
						<h3>Analysis &amp; Operations</h3>
						<p>Our Analysis and DevOps team monitors the development process throughout, and are able to provide documentation and analysis throughout the process, ensuring quality in-use.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="light-grey color-change">
		<div class="content">
			<h2 class="fade-item" >Services</h2>
			<h3 class="fade-item" >We provide data products and services<br/>and this is how we work/our process:</h3>
			<div class="services clearfix">
				<div class="block odd fade-item">
					<div class="clearfix">
						<img src="img/services-icon-software.png" alt="" />
						<h3>Software Solutions</h3>
						<div class="orange"></div>
						<div class="hover-text clearfix">
							<h3>Software Solutions</h3>
							<p>
								FULL STACK offers bespoke software solutions based on our SQuaRE software quality model. Whether web, mobile or desktop, our software solutions are led by our belief in the power of data to both describe and demonstrate software in-use. 
							</p>
							<a class="services-link">More info</a>
						</div>
					</div>
				</div>
				<div class="block even fade-item">
					<div class="clearfix">
						<img src="img/services-icon-systems.png" alt="" />
						<h3>Systems Architecture</h3>
						<div class="orange"></div>
						<div class="hover-text clearfix">
							<h3>Systems Architecture</h3>
							<p>
								FULL STACK offers bespoke software solutions based on our SQuaRE software quality model. Whether web, mobile or desktop, our software solutions are led by our belief in the power of data to both describe and demonstrate software in-use. 
							</p>
							<a class="services-link">More info</a>
						</div>
					</div>
				</div>
				<div class="block odd fade-item">
					<div class="clearfix">
						<img src="img/services-icon-tech-audit.png" alt="" />
						<h3>Technology Audit</h3>
						<div class="orange"></div>
						<div class="hover-text clearfix">
							<h3>Technology Audit</h3>
							<p>
								FULL STACK offers bespoke software solutions based on our SQuaRE software quality model. Whether web, mobile or desktop, our software solutions are led by our belief in the power of data to both describe and demonstrate software in-use. 
							</p>
							<a class="services-link">More info</a>
						</div>
					</div>
				</div>
				<div class="block even fade-item">
					<div class="clearfix">
						<img src="img/services-icon-dev-review.png" alt="" />
						<h3>Developer Review</h3>
						<div class="orange"></div>
						<div class="hover-text clearfix">
							<h3>Developer Review</h3>
							<p>
								FULL STACK offers bespoke software solutions based on our SQuaRE software quality model. Whether web, mobile or desktop, our software solutions are led by our belief in the power of data to both describe and demonstrate software in-use. 
							</p>
							<a class="services-link">More info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="white color-change">
		<div class="content clients">
			<h2 class="fade-item" >Clients</h2>
			<div class="logos clearfix">
				<div class="client fade-item"><img src="img/clients-open-suse.png" alt="Client Logo" title="" /></div>
				<div class="client fade-item"><img src="img/clients-brilliant.png" alt="Client Logo" title="" /></div>
				<div class="client fade-item"><img src="img/clients-nuride.png" alt="Client Logo" title="" /></div>
				<div class="client fade-item"><img src="img/clients-techcombank.png" alt="Client Logo" title="" /></div>
				<div class="client fade-item"><img src="img/clients-colormedia.png" alt="Client Logo" title="" /></div>
				<div class="client fade-item"><img src="img/clients-livefyre.png" alt="Client Logo" title="" /></div>
			</div>
			<p class="fade-item">
				FULLSTACK has launched in 2014 with several key clients in the mobile, marketing, financial services and gam FULLSTACK has launched in 2014 with several key clients in the mobile, marketing, financial services and gaming space. We believe in working with those who have a clear vision of what problems they want solved, an understanding of the quality required and a firm grasp on the business value that a solution will unlock. 
			</p>
		</div>
	</section>


	<section class="orange color-change">
		<div class="content home-contact clearfix">
			<h2 class="fade-item">Ready to discuss your next project?</h2>
			<div class="home-contact-link fade-item">
				<a id="contact-us-link">Contact Us</a>
			</div>
		</div>
	</section>

</div>