<div class="wrapper">
		<ul class="nav-list">
			<li><a id="link-index">Home</a></li>
			<li><a id="link-about">About Us</a></li>
			<li><a id="link-services">Services</a></li>
			<li><a style="color: #cecece;" id="link-clients">Clients</a></li>
			<li><a id="link-products">Products</a></li>
			<li><a id="link-case-studies">Case Studies</a></li>
			<li><a id="link-fullstack-events">Events</a></li>
			<li><a id="link-careers">Careers</a></li>
			<li><a id="link-contact">Contact</a></li>
		</ul>
</div>