<div class="wrapper">
	<div class="content">
		
		<div class="nav-bar">
			<div class="logo">
				<img src="img/fullstack-logo.png" alt="Fullstack Logo" />
			</div>

			<ul class="nav-list">
				<li><a id="link-index">Home</a></li>
				<li><a id="link-about">About Us</a></li>
				<li><a id="link-services">Services</a></li>
				<!--<li><a style="color: #cecece;" id="link-clients">Clients</a></li>-->
				<li><a id="link-products">Products</a></li>
				<!--<li><a id="link-case-studies">Case Studies</a></li>
				<li><a id="link-events">Events</a></li>-->
				<li><a id="link-careers">Careers</a></li>
				<li><a id="link-contact">Contact</a></li>
			</ul>

			<a class="mobile-hamburger" id="mobile-hamburger">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>

		<div class="nav-welcome">
			<img src="img/fullstack-logo.png" alt="Fullstack Logo" />
			<p>Welcome to FULLSTACK. We are a software company. We believe in unlocking business value through the delivery of measurable high quality products and solutions for a fixed price.</p>
		</div>

	</div>
</div>
<div class="bg"></div>
