<div class="wrapper">

	<section class="white">
		<div class="content">
		
		<div class="product">
			<h2>Vizier</h2>
			<p>Vizier is a deep NLP (natural language processing) product which involves aggregating unstructured data within an enterprise (Exchange, Sharepoint, etc.) It performs sentiment analysis on large corporate data sets to enable fortnightly or monthly reporting for C-Suite executives who wish to see the impact of their management into the actual operations and conversations happening within their organisation. It is focused on executives of businesses or business units managing >5 million USD (or 50 million ZAR) per annum in revenue. 
			</p>
		</div>

		<div class="product">
			<h2>Winkle</h2>
			<p>Winkle is a GSM/WiFi/IPCamera heatmapping solution for SME retailers and marketers to track dwell and wait time as shopper’s traffic through their store environments.  
			</p>
		</div>

		<div class="product last">
			<h2>Dark Horse</h2>
			<p>Dark Horse a social media aggregation and data mining tool for lead generation with particular focus on the personal and retail finance sector.
 
			</p>
		</div>

		</div>
	</section>
</div>